[Unit]
Description=WPA Supplicant Event Listener (Wi-Fi Direct)
After=network.target p2p-wpa.service
Requires=p2p-wpa.service

[Service]
Type=simple
ExecStart=/usr/bin/wpa_cli -i wlan0 -p /var/run/wpa_supplicant -a /home/receiveit/receiveit-server/scripts/p2p-event.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
